/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  position: absolute;
  margin: 20;
  background: #eee;
  font-family: Besley, serif;
  
}


.header {
  display: flex;
  width: 1400px;
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
   
  
}

#lower-border {
  display: flex;
  min-width: fit-content;
  height: 40px;
  background-color: rgb(201, 194, 189);
  
}
  
.head-align-left {
  display: flex;
}

.head-align-right {
  display: flex;
  margin-left: auto;
  

}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
  
  
  
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
 
 
  

}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;  
  font-size: 16px;
  width: 210px;
  height: 50px;
  border-radius: 500px;
  background: rebeccapurple;
  color: white;
  margin: 10px;  /* Do not delete this margin */

} 
  


a {
  /* this removes the line under our links */
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rebeccapurple;
  margin: 8px 5px;
  
  
  
}

ul {
  list-style-type: none;
  margin: 5px;
  display: flex;
  gap: 5px;
  
}


  
  
  
  
 
 
